<ul>
    <li><a href="/">home</a></li>
    <li><a href="/login">login</a></li>
    <li><a href="/profile/kirtee">profile</a></li>
</ul>
<style>
    body{
        background-color: tomato;
        color: white;
    }
    a{
        color: whitesmoke;
    }
</style>